@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}
html, body{
  height: 100%;
}
.custom-img {
  background-image: url('../public/opening.gif')
}
